@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities{
    *{
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }

    @font-face {
        font-family: "roboto";
        src: url("assets/Roboto-Regular.ttf");
        font-weight: normal;
        font-style: normal;
    }

    @font-face {
        font-family: "roboto";;
        src: url("assets/Roboto-Bold.ttf");
        font-weight: bold;
        font-style: normal;
    }
    
    .roboto{
        font-family: "roboto";
    }

    .test{
        @apply border-2 border-solid border-red-500
    }

    .fadein-right{
        opacity: 0;
        filter: blur(3px);
        transform: translateX(50%);
    }
}